<li class="breadcrumb__item"><a href="http://www.ucl.ac.uk/">UCL</a></li>
{% if site.crumbs %}
  {% for crumb in site.crumbs %}
    <li class="breadcrumb__item"><a href="http://www.ucl.ac.uk/{{crumb.link}}">{{crumb.text}}</a></li>
  {% endfor %}
{% endif %}
<li class="breadcrumb__item"><a href="{{site.baseurl}}/">{{site.short}}</a></li>
{% if page.crumbs %}
  {% for crumb in page.crumbs %}
    <li class="breadcrumb__item"><a href="{{site.baseurl}}{{crumb.link}}">{{crumb.text}}</a></li>
  {% endfor %}
{% endif %}
{% if page.short %}
  <li class="breadcrumb__item"><a href="{{site.baseurl}}{{page.url}}">{{page.short}}</a></li>
{% endif %}
