<div class="masthead">

  <div class="wrapper clearfix">

    <div class="masthead__search">
      <form action="//search2.ucl.ac.uk/s/search.html" method="get">
        <div class="search-form">
          <input type="search" placeholder="Search UCL websites" class="search-form__input search-form__input--search" value="">
        </div>
        <input type="hidden" name="collection" value="website-meta">
        <input type="hidden" name="profile" value="_website">
        <input type="hidden" name="tab" value="websites">
        <input type="submit" name="submit" value="Go" class="btn btn--primary search-form__input search-form__input--submit" />
      </form>
    </div>

    <nav class="masthead__nav m-clear">
      <ul class="masthead__list">
        <li class="masthead__item"><a href="index.php" class="masthead__link">UCL Home</a>
        </li>
        <li class="masthead__item"><a href="prospective-students.php" class="masthead__link">Prospective students</a>
        </li>
        <li class="masthead__item"><a href="current-students.php" class="masthead__link">Current students</a>
        </li>
        <li class="masthead__item"><a href="staff.php" class="masthead__link">Staff</a>
        </li>
      </ul>
    </nav>

  </div>

</div><!-- end .masthead -->
